<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='css/styles.css' media='screen' type='text/css' />
    <script type='text/javascript' src='js/main.js'></script>
  </head>
  <body>
    <h1>About</h1>

    <!-- Using Navbar component -->
    <%= navbar(links: [{ url: "/", text: "Home" }, { url: "/about", text: "About" }]) %>

    <div id="about-content">
      <p>Welcome to our Todo List application. This application allows you to keep track of your tasks in a simple and intuitive way.</p>
      <p>Feel free to add, mark as complete, or delete any tasks. We hope this tool helps you stay organized and productive!</p>
    </div>
  </body>
</html>
