<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo List</title>
    <link rel='stylesheet' href='css/styles.css' media='screen' type='text/css' />
    <script type='text/javascript' src='js/main.js'></script>
  </head>
  <body>
    <h1>My Todo List</h1>

    <!-- Using Navbar component -->
    <%= navbar(links: [{ url: "/", text: "Home" }, { url: "/about", text: "About" }]) %>

    <!-- Form to add new todo -->
      <%= form(action: "/add_todo", method: "post", elements: [
                 hidden_field(name: "nonce", value: session[:nonce]),
                 text_field(name: "new_todo", placeholder: "Enter new todo"),
                 button(label: "Add Todo", action: "this.form.submit()"),
               ]) %>

    <!-- List of todos -->
    <%= list(items: @todos.each_with_index.map { |todo, index|
               "#{checkbox(label: todo[:text], checked: todo[:completed], id: "todo_#{index}", name: "todo_#{index}", js: "handleTodoChange(this, #{index})")}"
             }) %>
  </body>
</html>
